#main>* {
    margin: 0 auto;
    border: 1px solid red;
}

#search {
    height: 50px;
    width: 1200px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}

#search > form >* {
    margin-left: 10px;
}

#itemList {
    height: 400px;
    width: 1200px;
}

#download {
    height: 50px;
    width: 1200px;
}