<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">
    <title>WebShoppingList</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div id='main'>
        <div id='search'>
            <form action="/search" method="post" onsubmit="return checkForm(this)">
                <select id="siteNameId" name="siteName" class="searchSelectTerm">
                    <option value="" selected hidden>검색엔진(Search engine)</option>
                    <!-- <option value="am" disabled selected hidden >검색엔진(Search engine)</option>  -->
                    <option value="am">Amazon Japan</option>
                    <option value="na">Naver</option>
                </select>
                <input type="text" id="keywordId" name="keyword" class="searchTerm" placeholder="키워드(keyword)"
                    value=''>
                <input type="text" id="itemCountId" name="itemCount" class="searchTerm" placeholder="아이템수(itemCount)"
                    value=''>
                <select id="translateId" name="translate" class="searchSelectTerm">
                    <!-- <option value="ko" disabled selected hidden >번역(translate)</option>  -->
                    <option value="" selected hidden>번역(translate)</option>
                    <option value="ko">한국어(korean)</option>
                    <option value="ja">일본어(japaness)</option>
                    <option value="zh-cn">중국어(chinese)</option>
                </select>
                <select id="currencyId" name="currency" class="searchSelectTerm">
                    <!-- <option value="KRW" disabled selected hidden >통화(currency)</option>  -->
                    <option value="" selected hidden>통화(currency)</option>
                    <option value="KRW">원화(￦)</option>
                    <option value="JPY">엔화(￥)</option>
                    <option value="CNY">위안(￥)</option>
                </select>
                <button type="submit" class="searchButton">CSV저장(CSV)</button>
                <button type="submit" class="searchButton">검색(Search)</button>
            </form>
        </div>
        <div id='itemTable'>
            <table class="tab">
                <tr>
                    <th scope="row">번호(ROWID)</th>
                    <th scope="row">브랜드 이름(BrandName)</th>
                    <th scope="row">아이템 이름(ItemName)</th>
                    <th scope="row">리뷰 수(ReviewCount)</th>
                    <th scope="row">가격(Price)</th>
                    <th scope="row">URL</th>
                </tr>
                {% if sendData != None %}
                {% for item in sendData %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.1 }}</td>
                    <td>{{ item.2 }}</td>
                    <td>{{ item.3 }}</td>
                    <td>{{ item.4 }}</td>
                    <td><a href="{{ item.5 }}" target="_blank">link</a></td>
                    {% endfor %}
                </tr>
                {% endif %}

            </table>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='/js/main.js') }}"></script>
</html>